@import "tailwindcss";
@import "tailwindcss" source(none);
@source "./pages";
@source "./components";
@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui" {
  themes: light, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base: #FFFEE9;
  /*背景圖顏色*/
  --color-base-content: #A55E00;
  /*文字顏色*/
  --color-primary: #E8D69A;
  /*土黃按鈕，輪播圖顏色,按鈕以外的border顏色*/
  --color-primary-content: #C8B885;
  /*土黃按鈕Press,數量按鈕Press,滾輪*/
  --color-secondary: #6B7280;
  /*藍色按鈕顏色*/
  --color-secondary-content: #434751;
  /*藍色按鈕Press*/
  --color-accent: #A55E00;
  /*咖啡按鈕顏色*/
  --color-accent-content: #734201;
  /*咖啡按鈕Press*/
  --color-neutral: #F3E7BE;
  /*卡片跟資料欄位，數量+-顏色,蠟燭defalt*/
  --color-info: #FFFFFF;
  /* 白色 */
  --color-info-content: #000000;
  /* 黑色 */
  --color-success: #22C55E;
  /*綠色*/
  --color-warning: #A78BFA;
  /*紫色背景*/
  --color-warning-content: #ffffff;
  /*白色字體*/

  /* border radius */
  --radius-selector: 0.5rem;
  /*8px*/

  --radius-field: 0.625rem;
  /*10px*/
  --radius-box: 1.25rem;
  /*20px*/
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-base: #1F2937;
  /*背景圖顏色*/
  --color-base-content: #FFFFFF;
  /*文字顏色*/
  --color-primary: #6B7280;
  /*土黃按鈕，輪播圖顏色,按鈕以外的border顏色*/
  --color-primary-content: #CBD5E1;
  /*土黃按鈕Press,數量按鈕Press,滾輪*/
  --color-secondary: #FDA4AF;
  /*dark改 紅色按鈕顏色*/
  --color-secondary-content: #E66877;
  /*dark改 紅色按鈕Press*/
  --color-accent: #ffffff;
  /*dark改 白色按鈕顏色*/
  --color-accent-content: #6B7CAF
    /*dark改 白色按鈕Press*/
    --color-neutral: #334155;
  /*卡片跟資料欄位，數量+-顏色,蠟燭defalt*/
  --color-info: #FFFFFF;
  /* 白色 */
  --color-info-content: #000000;
  /* 黑色 */
  --color-success: #22C55E;
  /*綠色*/
  /*綠色*/
  --color-warning: #EEAF00;
  /*dark改 橘色背景*/
  --color-warning-content: #ffffff;
  /*dark改 白字*/

  /* border radius */
  --radius-selector: 0.5rem;
  /*8px*/

  --radius-field: 0.625rem;
  /*10px*/
  --radius-box: 1.25rem;
  /*20px*/
}

[data-theme="light"] {
  .header-bg {
    background-color: #FFFEE9;
  }

  .body-bg {
    background-color: #FFFEE9;
  }

  .drawer-bg {
    background-color: #FFFEE9;
  }

  .body-text {
    color: #A55E00;
  }

  .bg-neutral {
    background-color: #F3E7BE;
  }

  .bg-primary {
    background-color: #E8D69A;
  }
}

[data-theme="dark"] {
  .header-bg {
    background-color: #1F2937;
  }

  .footer-bg {
    background-color: #1F2937;
  }

  .body-bg {
    background-color: #1F2937;
  }

  .drawer-bg {
    background-color: #334155;
  }

  .body-text {
    color: #FFFFFF;
  }

  .bg-neutral {
    background-color: #334155;
  }

  .bg-primary {
    background-color: #6B7280;
  }
}


/*文字大小*/
.h1 {
  font-size: 2rem;
  /*32px*/
}

.h2 {
  font-size: 1.75rem;
  /*28px*/
}

.h3 {
  font-size: 1.5rem;
  /*24px*/
}

.h4 {
  font-size: 1.25rem;
  /*20px*/
}

.h5 {
  font-size: 1rem;
  /*16px*/
}

.h6 {
  font-size: 0.875rem;
  /*14px*/
}

p {
  font-size: 0.75rem;
  /*12px*/
}

/*背景顏色設定*/
html[data-theme="light"] {
  background-color: #FFFEE9;
}

html[data-theme="dark"] {
  background-color: #1F2937;
}


/*自定義header跟footer陰影*/
.header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer {
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}